<hr>
<!-- Justified for SM and up Devices -->
<nav class="menu-bar btn-group btn-group-justified hidden-xs">
    <div *ngFor="let people of $peopleJSON | async" class="btn-group">
        <button
         [ngClass]="{'active': people.name == activeChar}"
         class=" btn btn-warning "
         (click)="handleCharSelection(people)">{{people.name}}</button></div>
</nav>
<!-- Vertical for XS Devices -->
<nav class="menu-bar btn-group btn-group-vertical hidden-sm hidden-md hidden-lg">
    <div *ngFor="let people of $peopleJSON | async" class="btn-group">
        <button
            [ngClass]="{'active': people.name == activeChar}"
            class=" btn-block btn btn-warning "
            (click)="handleCharSelection(people)">{{people.name}}
        </button>
    </div>
</nav>

<hr>
