<div class="container-fluid">
    <h2>LISTA DE NAVES</h2>
    <p class="label-item">
        Resultados:<span #cantidadFiltrado></span>
    </p>
    <div class="row padding_principal_50">
        <div class="items-cards col-8 listado">
            <div class="card mb-5  w-75" *ngFor='let starship of starships | filtro : cantidadFiltrado : { name: searchName, model: searchModel, cost_in_credits: searchCost_in_credits, passengers: searchPassengers}'>
                <div class="row no-gutters">
                    <div class="col-5" data-toggle="modal" data-target="#detalleNave" (click)="seleccionarStarship(starship)">
                        <img class="card-img imagen-listado" [src]="starship.img">
                    </div>
                    <div class="col-7">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="label-item">Nombre:</span>{{starship.name}}</li>
                            <li class="list-group-item"><span class="label-item">Modelo:</span>{{starship.model}}</li>
                            <li class="list-group-item"><span class="label-item">Costo:</span>{{starship.cost_in_credits}}</li>
                            <li class="list-group-item"><span class="label-item">Pasajeros:</span>{{starship.passengers}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="filtros">
                <h3 class="text-center">FILTROS</h3>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    </div>
                    <input type="text" [(ngModel)]="searchName" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default" >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
                    </div>
                    <input type="text" [(ngModel)]="searchModel" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default" >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Costo</span>
                    </div>
                    <input type="text" [(ngModel)]="searchCost_in_credits" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default" >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Pasajeros</span>
                    </div>
                    <input type="text" [(ngModel)]="searchPassengers" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default" >
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="detalleNave" tabindex="-1" role="dialog" aria-labelledby="detalleNaveLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" *ngIf="starshipActual">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="detalleNaveLabel">{{starshipActual.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-starship [starship]="starshipActual"></app-starship>
                </div>
            </div>
        </div>
    </div>
</div>