<div class="container-fluid">
    <div class="row padding_principal_50" style="padding-top: 10px;">
        <div class="col-2">
            <strong><p style="font-size:18px;">PELICULAS</p></strong>
        </div>
        <div class="col-10 filtro_busqueda">
            <input type="text" class="form-control" id="busqueda" placeholder="Filtra y realiza tus busquedas...">
        </div>
    </div>
    <div class="row padding_principal_50" >

        <div class="items-cards col-8" >
            <div class="filtros">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Fecha Lanzamiento</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="card mb-5" style="max-width:540px;" *ngFor="let pelicula of peliculas | filter : searchNombre : searchProductor : searchDirector : searchLanzamiento">
                <div class="row no-gutters">
                    <div class="col-5">
                        <img src="https://i.pinimg.com/600x315/1c/49/0a/1c490aa730bac905c902c69d698aedc2.jpg" class="card-img" style="height:100%;">
                    </div>
                    <div class="col-7">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre: {{pelicula.title}}</li>
                            <li class="list-group-item">Productores: {{pelicula.producer}}</li>
                            <li class="list-group-item">Año Lanzamiento: {{pelicula.created | date}}</li>
                            <li class="list-group-item">Director: {{pelicula.director}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="filtros col-4">
            <strong><p>FILTROS</p></strong>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                </div>
                <input type="text" [(ngModel)]="searchNombre" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Director</span>
                </div>
                <input type="text"  [(ngModel)]="searchDirector" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default" >
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Productores</span>
                </div>
                <input type="text" [(ngModel)]="searchProductor" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default"  >
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Año Lanzamiento</span>
                </div>
                <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default"  >
            </div>
        </div>
    </div>
</div>


