<div class="container-fluid">
    <div class="row padding_principal_50">
        <div class="col-4">
            <select id="opciones " class="form-control">
                <option value="peliculas">Peliculas</option>
                <option value="personajes">Personajes</option>
                <option value="planetas">Planetas</option>
                <option value="vehiculos">Vehiculos</option>
                <option value="naves">Naves</option>
                <option value="especies">Especies</option>
            </select>
        </div>
        <div class="col-8 filtro_busqueda">
            <input type="text" class="form-control" id="busqueda" placeholder="Filtra y realiza tus busquedas...">
        </div>
    </div>
    <div class="row padding_principal_50">
        <div class="col-12">
            <angular-image-slider
            [autoRotate]="true"
            [autoRotateAfter]="5000"
            [autoRotateRight]="true"
            [images]="imagesUrl"
          ></angular-image-slider>
        </div>
    </div>
    <div class="row">
        <div class="col-12 padding_principal_25">
            <div>
                <h3 class="text-center">Conoce la historia de Star Wars</h3>
                <br>
                <h4 class="text-center">Temas que te pueden interesar</h4>
            </div>
            <div style="padding:50px; display:grid; grid-template-columns: 20% 20% 20% 20% 20% ;">
                <div class=" text-center" >
                    <input type="image" src="../../assets/images/pelicua.png" alt="Submit" width="100" height="100">
                    <br>
                    <h4>Peliculas</h4>
                </div>
                <div class=" text-center">
                    <input type="image" src="../../assets/images/carro.png" alt="Submit" width="100" height="100">
                    <br>
                    <h4>Vehiculos</h4>
                </div>
                <div class=" text-center">
                    <input type="image" src="../../assets/images/planeta.png" alt="Submit" width="100" height="100">
                    <br>
                    <h4>Planetas</h4>
                </div>
                <div class=" text-center">
                    <input type="image" src="../../assets/images/actor.png" alt="Submit" width="100" height="100">
                    <br>
                    <h4>Personajes</h4>
                </div>
                <div class=" text-center">
                    <input type="image" src="../../assets/images/nave.png" alt="Submit" width="100" height="100">
                    <br>
                    <h4>Naves</h4>
                </div>
            </div>
        </div>
    </div>
</div>

