div.overlay-left[_ngcontent-rjo-c111] {
    background-color: #8A93A7 !important;
}

.filtro_busqueda{
     align-items:flex-end;
}

.padding_principal_50{
     padding:50px;"
}

.padding_principal_25 {
     padding:25px;
}
