<header>
    <nav class="nav">
        <a href="#" class="nav-link">
            <img src="assets/images/logo.png" alt="" class="logo">
        </a>
        <a *ngFor="let option of optionsMenu" [routerLink]="option.path" routerLinkActive="active" class="nav-link">
            {{option.description}}
        </a>
    </nav>
</header>
<main class="container">
    <router-outlet></router-outlet>
    <ngx-spinner></ngx-spinner>
</main>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
    <div class="text-center text-md-left">
        <nav class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Star Wars Proyecto </h6>
                <p>Proyecto de Front-End, universidad Politecnico Grancolombiano, año 2020</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Enlaces</h6>
                <p>
                    <a routerLink="/" >Home</a>
                </p>
                <p>
                    <a routerLink="/films" >Peliculas</a>
                </p>
                <p>
                    <a routerLink="/planets" >Planetas</a>
                </p>
                <p>
                    <a routerLink="/vehicles" >Vehiculos</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Otros Enlaces</h6>
                <p>
                    <a routerLink="/species">Especies</a>
                </p>
                <p>
                    <a routerLink="/characters">Personajes</a>
                </p>
                <p>
                    <a routerLink="/starships">Naves</a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold">Contactanos</h6>
                <p>Bogotá D.C, Colombia</p>
                <p>StarWars@example.com</p>

            </div>


        </nav>


    </div>

</footer>