<header>
    <nav class="nav">
        <a href="#" class="nav-link">
            <img src="assets/images/logo.png" alt="" class="logo">
        </a>
        <a *ngFor="let option of optionsMenu" [routerLink]="option.path" routerLinkActive="active"
            class="nav-link">
            {{option.description}}
        </a>
    </nav>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>

<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    no existe informacion para visualizar
                </h2>
            </div>
        </div>
    </div>
</div>

<footer></footer>