<div class="container-fluid">
    <strong><h4 class="text-center">LISTA DE PERSONAJES</h4></strong>
    <div class="row padding_principal_50" >
 
        <div class="items-cards col-8 listado" >

  <div class="card mb-5" style="max-width:540px;" data-toggle="modal" data-target="#detallePersonaje" *ngFor="let personaje of personajes | filterpeople : searchNombre :  searchGenero :  searchEstatura : searchPeso" (click)="verPersonaje(personaje)">
                <div class="row no-gutters">
                    <div class="col-5">
                        <img [src]="personaje.img" class="card-img" style="height:100%;">
                    </div>
                    <div class="col-7">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong >Nombre:</strong>{{personaje.name}}</li>
                            <li class="list-group-item"><strong >Genero:</strong>{{personaje.gender}}</li>
                            <li class="list-group-item"><strong >Estatura:</strong>{{personaje.height}}</li>
                            <li class="list-group-item"><strong >Peso:</strong>{{personaje.mass}}</li>
                            <li class="list-group-item"><strong >Fecha Creación:</strong>{{personaje.created | date}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="filtros col-4">
            <div class="flitros" style="background-color: #a7b3ce; padding:15px;">
                <strong><h5 class="text-left">FILTROS</h5></strong>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    </div>
                    <input type="text" [(ngModel)]="searchNombre" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Genero</span>
                    </div>
                    <input type="text"  [(ngModel)]="searchGenero" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default" >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Estatura</span>
                    </div>
                    <input type="text"  [(ngModel)]="searchEstatura" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default"  >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Peso</span>
                    </div>
                    <input type="text"  [(ngModel)]="searchPeso" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default"  >
                </div>
            </div>            
        </div>
    </div>
    <div class="modal fade" id="detallePersonaje" tabindex="-1" role="dialog" aria-labelledby="detallePersonajeLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content"  *ngIf="selectPeople">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="detallePersonajeLabel">{{selectPeople.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img-top imagen-listado" [src]="selectPeople.img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Caracteristica</th>
                                            <th scope="col">Detalle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Genero</th>
                                            <td>{{selectPeople.gender}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Color de Cabello</th>
                                            <td>{{selectPeople.hair_color}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Color de Piel</th>
                                            <td>{{selectPeople.skin_color}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Altura</th>
                                            <td>{{selectPeople.height}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
